body {
  position: relative;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}
.heading-primary {
  font-size: 8.2rem;
  line-height: 1;
  font-weight: 700;
  @include respond(phone) {
    font-size: 5.2rem;
  }
}
.heading-secondary {
  font-size: 5.2rem;
  @include respond(phone) {
    font-size: 3.2rem;
  }
}
.heading-third {
  font-size: 2.4rem;
}
.heading-tertiary {
  font-size: 1.8rem;
}
.paragragh {
  font-size: 2rem;
}
