.mb-medium {
  margin-bottom: 4.8rem;
}
.mb-small {
  margin-bottom: 2.4rem;
}
.mb-tiny {
  margin-bottom: 1.4rem;
}

%btn-style {
  text-decoration: none;
  color: #fff;
  padding: 1.4rem 4rem;
  border-radius: 71px;
  font-size: 2rem;
}
