@mixin respond($break-point) {
  // 890
  @if $break-point == phone {
    @media only screen and (max-width: 35em) {
      @content;
    }
  }

  // 890
  @if $break-point == tab-port {
    @media only screen and (max-width: 55.62em) {
      @content;
    }
  }

  // 1200
  @if $break-point == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
}
