$color-primary: #001d37;

$color-secondary: #475aff;
$color-secondary-dark: #475affa6;

$color-grey-dark: #888888;
$color-grey-dark-2: #555555;

$color-grey: #626262;
$color-grey-light: #a2a2a2;
$color-grey-light-1: #a6a6a6;
$color-grey-light-2: #f3f3f3;
