.article {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-grey-light-3;

  &__tag {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    background-color: $color-grey-bright;

    align-self: flex-start;
    transform: translateY(-2rem);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3.2rem;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-style: normal;
    img {
      width: 10%;
    }
    span {
      font-size: 2rem;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    span {
      color: $color-black;
      font-size: 1.4rem;
    }

    &--icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__link {
    display: inline-block;
    align-self: end;
    color: $color-black;
    font-weight: 700;
    margin-bottom: 3.2rem;

    &:link,
    &:visited {
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: $color-secondary-dark;
    }
    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: $color-secondary-dark;
    }
  }
}
