.footer {
  background-color: $color-black;
  color: $color-white;

  &__box {
    padding-block: 4.8rem;
    display: flex;
    gap: 4.8rem;

    @include respond(tab-land) {
      gap: 0rem;
    }
    @include respond(tab-port) {
      flex-direction: column;
    }

    &-data {
      display: flex;
      flex: 1;
      @include respond(tab-land) {
        flex-wrap: wrap;
      }
      @include respond(tab-port) {
        justify-content: space-between;
      }
    }
  }
  &__data {
    padding: 2rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__contact {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    flex-basis: 60rem;
    margin-top: -15rem;

    @include respond(tab-land) {
      flex-basis: 48rem;
      gap: 3.2rem;
    }
    @include respond(tab-port) {
      order: -1;
    }

    &-box {
      padding: 4.8rem;
      background-color: rgba($color-grey-dark-1, 0.9);
      backdrop-filter: blur(1rem);
    }

    &--title {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &--mail {
      font-size: 2.4rem;
    }
    &--copy {
      cursor: pointer;
      font-size: 1.2rem;
      color: $color-secondary-dark;
    }
    &--phone {
      font-size: 2.4rem;
      background-image: linear-gradient(
        to right,
        $color-white 40%,
        $color-grey-dark-2 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        -webkit-text-fill-color: $color-secondary-dark;
        background: none;
      }
    }
  }

  &__cta-btn {
    padding: 3.2rem;
  }

  &__social-link {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    span {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    &--icon {
      width: 2.4rem;
      height: 2.4rem;
      fill: $color-grey-light-2;
    }
  }

  &__locations {
    display: flex;
    gap: 6.4rem;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &--main {
      padding-block: 4.8rem;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
      @include respond(tab-land) {
        gap: 2.4rem;
      }

      img {
        width: 80%;
        @include respond(tab-port) {
          width: 30%;
        }
      }
    }

    &--branches {
      padding-block: 4.8rem;
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      row-gap: 6.4rem;
      column-gap: 9.6rem;

      @include respond(desktop) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      }
      @include respond(tab-land) {
        column-gap: 4.8rem;
      }
      @include respond(tab-port) {
        padding-inline: 6.4rem;
      }
    }
  }
  &__location {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0.8rem;
    width: 90%;
    font-size: 1.4rem;

    &--link {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      &:link,
      &:visited {
        text-decoration: none;
        color: $color-white;
      }
      &:hover,
      &:active {
        color: $color-secondary-dark;
      }
      &-icon {
        width: 1.4rem;
        height: 1.4rem;
        fill: $color-secondary-dark;
      }
    }

    &--icon {
      grid-row: 1/-1;
      width: 2.4rem;
      height: 2.4rem;
      fill: $color-grey-light-1;
    }
  }

  &__line {
    border: 2px solid $color-grey-dark-1;
  }

  &__copyright {
    font-size: 1.2rem;
    padding: 2.4rem 12.8rem;
    background-color: $color-white;
    color: $color-black;
    &--text {
      span {
        font-weight: 700;
        color: $color-secondary-dark;
      }
    }
  }
}
