.header {
  position: relative;
  font-size: 1.4rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  gap: 3.2rem;

  @include respond(tab-port) {
    padding-right: 0;
  }

  &__logo {
    height: 30%;
  }
  &__nav {
    height: 100%;
    width: 70%;
    transition: all 0.8s ease-out;

    @include respond(tab-port) {
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &--links {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 2.4rem;
      @include respond(tab-land) {
        gap: 1.4rem;
      }

      @include respond(tab-port) {
        font-size: 1.8rem;
        flex-direction: column;
        align-items: flex-end;
        height: 100vh;
        width: 50%;
        padding: 3.2rem;
        background-color: rgba($color-grey-light-1, 0.4);

        backdrop-filter: blur(5rem);
      }
    }

    &--link {
      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $color-black;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
    }

    &--btn {
      position: absolute;
      left: 90%;
      width: 3.2rem;
      height: 3.2rem;
      fill: $color-black;
      opacity: 0;
      visibility: hidden;

      cursor: pointer;
      @include respond(tab-port) {
        &-menu {
          opacity: 1;
          visibility: visible;
        }
        &-close {
          left: 96%;
          top: 12%;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    stroke: $color-black;
    &--secondary {
      fill: $color-secondary-dark;
      stroke: none;
    }
  }

  &__cta-btn {
    width: 25rem;
    padding: 2.4rem;
    gap: 0.8rem;
  }
}
.open .header__nav {
  transform: translateX(50%);
  z-index: 50;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  &--btn {
    &-menu {
      opacity: 0;
      visibility: hidden;
    }
    &-close {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
  }
}
.sticky {
  position: fixed;
  z-index: 900;
  width: 100vw;
  background-color: rgba($color-secondary-light, 0.9);
  backdrop-filter: blur(20px);
}
.sticky .header__nav--links {
  background-color: rgba($color-secondary-light, 0.9);
  backdrop-filter: blur(20px);
}
