.hero {
  // TITLE
  &__title {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $color-white;

    display: flex;
    gap: 1.2rem;
    padding-block: 2.4rem;

    &--orange {
      color: $color-secondary-dark;
    }
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: $color-white;
  }

  // HORIZONATL LINE
  &__line {
    border: 2px solid $color-grey-light-2;
  }

  // HERO BOX
  &__box {
    position: relative;
    width: 65%;
    display: flex;
    gap: 4.8rem;
    padding-block: 4.8rem;

    @include respond(desktop) {
      width: 80%;
    }

    @include respond(tab-land) {
      width: 90%;
    }
    @include respond(phone) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  &__img {
    width: 50%;
    box-shadow: 2rem 4rem 5rem rgba($color: #000000, $alpha: 0.4);
  }

  &__text {
    font-size: 1.6rem;
    align-self: end;

    &--title {
      &::after {
        content: "";
        width: 3.6rem;
        height: 0.4rem;
        display: block;
        background-color: $color-secondary-light;
        margin-bottom: 1.2rem;
      }
    }
  }

  &__paragraph {
    &--1 {
      color: $color-white;
    }
    &--2 {
      color: $color-grey-light-3;
    }
  }

  // FRAME
  &__frame {
    display: none;
    position: absolute;
    top: 60%;
    right: 15%;
    transform: translate(0%, -60%);

    img {
      width: 90%;
    }

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: $color-secondary-dark;
      top: 49%;
      right: 9%;
      transform: translate(0, -49%);
    }
  }
  // @media only screen and (max-width: $bp-desktop) {
  //   &__frame {
  //     display: none;
  //   }
  // }
}
