.container {
  padding: 0 12.8rem;

  @include respond(tab-land) {
    padding: 0 6.4rem;
  }

  @include respond(phone) {
    padding: 0 3.2rem;
  }
}
.mb-small {
  margin-bottom: 1.2rem;
}
.mb-large {
  margin-bottom: 4.8rem;
}
.mb-medium {
  margin-bottom: 3.2rem;
}
.mb-tiny {
  margin-bottom: 0.4rem;
}
.center-text {
  text-align: center;
}

%btn-style {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  background-image: linear-gradient(
    to right,
    $color-secondary-light,
    $color-secondary-dark
  );
}
