.container {
  padding: 9.6rem 20rem;

  @include respond(tab-land) {
    padding: 9.6rem;
  }
}

// -------------- HERO SECTION  -------------------
.section-hero {
  color: #fff;
  background-color: $color-primary;
  background-image: url(../assests/bg-circles.png);
  background-size: cover;
  row-gap: 9.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hero {
  &__text-box {
    grid-column: 1 / 3;

    @include respond(tab-port) {
      grid-column: 1/-1;
    }
  }

  &__buttons {
    display: flex;
    gap: 2.4rem;

    @include respond(phone) {
      flex-wrap: wrap;
    }
  }
}

// -------------- PETS SECTION  -------------------
.section-pets {
  position: relative;
  color: #000;
}
.pets {
  &__filter {
    display: flex;
    gap: 1.2rem;
    color: $color-grey;
    font-size: 2.2rem;

    @include respond(phone) {
      font-size: 1.2rem;
    }
    &--btn {
      font-size: 2.2rem;
      color: $color-grey;
      background: none;
      border: none;
      cursor: pointer;
      @include respond(phone) {
        font-size: 1.2rem;
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
    gap: 6.4rem;
  }
}

.pet {
  display: flex;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba($color: #000000, $alpha: 0.08);
  border: 1px solid $color-grey-light-2;
  border-radius: 23px;
  overflow: hidden;

  @include respond(phone) {
    flex-wrap: wrap;
    width: 50%;
  }
  &__img-box {
    align-self: start;
  }
  &__img {
    width: 20rem;
    @include respond(phone) {
      width: 100%;
    }
  }
  &__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-inline: 3.2rem;

    @include respond(phone) {
      gap: 1rem;
      padding-block: 3.2rem;
    }
  }
  &__name {
    display: flex;
    gap: 1.2rem;
    align-items: center;

    p {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  &__btn {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-secondary-dark;
  }

  &__description {
    font-size: 1.6rem;
    color: $color-grey;
  }
  &__age {
    font-size: 1.4rem;
    color: $color-grey-light;
  }
}
.selected {
  text-decoration: underline;
  color: $color-secondary;
}

// -------------- FOOTER  -------------------
.footer {
  padding: 4.8rem;
  font-size: 1.4rem;
  color: $color-grey-light-1;
  text-align: center;
}
