.cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3.2rem;

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff52;
    padding: 2.4rem;
    gap: 3.2rem;
    &__icon {
      svg {
        width: 4.8rem;
        height: 4.8rem;
        fill: #fff;
      }
    }
  }
}
