.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  backdrop-filter: blur(20px);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &__box {
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    box-shadow: 0 0 0.5rem 0.1rem rgba($color: #000000, $alpha: 0.07);
    @include respond(tab-land) {
      width: 70%;
    }
    @include respond(tab-port) {
      flex-direction: column;
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__caption {
    color: $color-grey-dark-2;
    font-size: 1.6rem;
    position: absolute;
    top: 82%;
    width: 100%;
    padding: 1.4rem;
    background-color: rgba($color: #fff, $alpha: 0.63);
    backdrop-filter: blur(4px);

    @include respond(tab-port) {
      top: 0;
    }

    p {
      font-size: 3.2rem;
      color: #000000;
    }
  }
  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 2.4rem 3.2rem;

    @include respond(tab-land) {
      padding: 2.4rem;
    }

    input,
    textArea {
      font-size: 1.4rem;
      color: $color-grey-dark;
      width: 80%;
      padding: 1.2rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.09);
      &::placeholder {
        font-size: 1.4rem;
        color: $color-grey-dark;
      }
      &:focus {
        outline: none;
        border: 1px solid $color-secondary;
      }
      @include respond(tab-land) {
        width: 100%;
      }
    }

    &--close {
      align-self: flex-end;
      width: 1.8rem;
      height: 1.8rem;
      fill: rgba($color: #000000, $alpha: 0.41);
      cursor: pointer;
    }
    &--submit {
      @extend %btn-style;
      align-self: flex-end;
      border: none;
      cursor: pointer;
      font-size: 1.8rem;
      background-color: $color-secondary;
    }
  }
}
