$color-grey-light-1: #6d6c6d;
$color-grey-light-2: #a3a3a3;
$color-grey-light-3: #dadada;
$color-grey-bright: #edf0f3;

$color-grey-dark-1: #373737;
$color-grey-dark-2: #333333;

$color-black: #242425;
$color-white: #fff;

$color-secondary-dark: #ff6000;
$color-secondary-light: #ffa000;

$container-xl: 12.8rem;
$container-lg: 9.6rem;
$container-md: 4.8rem;


